<footer class="footer">
    <div class="row">
        <span>&copy; @DateTime.Now.Year -  Jovane Sousa - Auth Manager </span>
    </div>
    <div class="row">
        <div class="footer-links">
            <NavLink class="footer-link" href="/privacidade">Politica de privacidade</NavLink>
            <NavLink class="footer-link" href="/termos">Termos de serviço</NavLink>
            <NavLink class="footer-link" target="blank" href="https://portifolio.jovanne.dev.br">Sobre mim</NavLink>
        </div>
    </div>
</footer>
